<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"> 

	<head>
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="TONKATSU 本 創価学会 玉野和志">
		<meta name="description" content="Android アプリ制作 TONKATSU の玉野和志『創価学会の研究(講談社現代新書)』の感想に関するブログ記事">
		
		
		<link rel="index" href="http://ton-katsu.net/">
		
		<link rel="shortcut icon" href="/favicon.ico" />
		
		<title>-TONKATSU now Reading- 『創価学会の研究(講談社現代新書)』玉野和志</title>
		
	</head>
	
	<body>
	
		<div id="cont">
			
			<h2>-TONKATSU now Reading- 『創価学会の研究(講談社現代新書)』玉野和志</h2>
			
			<p>軽く知識を仕入れるくらいのつもりで読んだら思いの外考えさせられる内容。<br>
			著者は、戦後まもなくは、強引な折伏、他宗派への攻撃、地域社会との摩擦など<br>
			様々な問題を起こしてきた創価学会は池田会長就任後に<br>
			暴力的な傾向を急激に克服していったという。<br>
			しかし、それと期を同じくして、マスコミによる創価学会バッシングの一般化、<br>
			創価学会を対象とした学術研究の衰退が起こる。<br>
			これらの裏を読んでいくと見えてくるものは、<br>
			都市に流入した下層労働者の階級遷移の物語であるという。<br>
			左翼に陣取りながら徹底して反共であり最終的には自民党と連立を組むに至る公明党の変遷。<br>
			</p>
			
			<p>
			(2013年 2月 山田.F.とんかつ)
			</p>

		</div>
		
		<a href="http://ton-katsu.net/">とんかつひろばにもどる</a>
		
	</body>
	
</html>
