<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"> 

	<head>
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="とんかつひろば TONKATSU 本 感想 レトリック感覚">
		<meta name="description" content="Android アプリ制作 TONKATSU の佐藤信夫『レトリック感覚 ことばは新しい視点をひらく』の感想に関するブログ記事">
		
		<link rel="index" href="http://ton-katsu.net/">
		
		<link rel="shortcut icon" href="/favicon.ico" />
		
		<title>-TONKATSU now Reading- 『レトリック感覚 ことばは新しい視点をひらく』佐藤信夫</title>
		
	</head>
	
	<body>
	
		<div id="cont">
			
			※断片的なメモです。
			
			<h1>『レトリック感覚 ことばは新しい視点をひらく』佐藤信夫</h1>
			
			<blockquote>
				たとえどれほど数が多くても、単語の数はしょせん有限であり、他方、私どもを取り巻く現実や私どもの心のなかの風景は無限に変容するからである。有限のことばを使って無限のものごとを実現するには、十分に揃っていない大工道具で工作をするときのように、工夫が必要だ。工面しなければ用がたりない……ということこそ言語の一つの宿命と言わなければならない。(佐藤信夫『レトリック感覚 ことばは新しい視点をひらく』pp.48)
			</blockquote>
			
			<p>
				
			</p>
			
			<p>
			(2013年 2月 山田.F.とんかつ)
			</p>

		</div>
		
		<a href="http://ton-katsu.net/">とんかつひろばにもどる</a>
		
	</body>
	
</html>
