<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>形而上学 メモ</title>
<link rel="index" href="http://ton-katsu.net/">
</head>

<body>

西洋古典哲学の人達の言う「実体」というやつが
どういうものなのかが分かったのは一つ収穫だった。
（多分、わりと常識的な話だと思うけど）

この人たちは多分、
基本的に物が存在するということを、
空間上に座標を持っている、というようなイメージで捉えている。
（それでいて連続性とか無限を扱うような道具立てはまだ無いから
すぐにこの本で語られるようなアポリアが生じるんではないかな、と思った。）

で、主語たる実体にはそれに述語的な限定を付帯させることが出来る。
色とか匂いとか重さとかは述語扱い、つまり主語(サブジェクト)ではない。
空間上に場を占めるということが文字通り別格の扱い。

そう考えると、点や線や面は実体に不可欠である、
というのがピタゴラス学派が数が実体の原理であると考えた根拠だとかなんとか。
自分はあまりまじめに真理を追求したくない人なので、
こういうの読むと古典面白いなーと思う。

恐らくデカルトもカントもこの考え方をある程度踏襲している。
例えば、『純粋理性批判』の最序盤で、
分析的な判断(主語の概念を分析するだけで導けるような判断)
の例として「物質は広がりを持つ。」、
総合的な判断(主語の概念に何かを付け加えるような判断)
の例として「物質は重さを持つ。」
という命題をそれぞれ挙げている。
最初に読んだ時は全く納得できなかったんだけど、
重さを付帯的な性質に過ぎないものと捉えるのが
この時代には常識だったと考えれば、話は通る。

<a href="http://ton-katsu.net/">とんかつひろばにもどる</a>

</body>
</html>
