<!doctype html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="哲学 カント 純粋理性批判">
		<meta name="description" content="おそらく、カントの目的は「人間に普遍的な」ものとして、自由意志が存在し、自由意志は道徳法則をこれまた「人間に普遍的な」形式として持っていることを証明することではないか。そのためになぜ批判哲学が必要なのか。">
	
		
		<title>008 経験を超越する認識, 009 純粋理性の課題, 010 理性の誤謬</title>
		
	</head>
	
	<body>
		
		<a href="http://ton-katsu.net/">とんかつひろばに戻る</a>
		
		<div id="cont">
			
			※断片的なメモです。
			
			<h2>批判哲学の目的</h2>
			
			<p>
			おそらく、カントの目的は<br>
			「人間に普遍的な」ものとして、<br>
			自由意志が存在し、<br>
			自由意志は道徳法則を<br>
			これまた「人間に普遍的な」形式として持っていることを<br>
			証明することではないか。<br>
			そのためになぜ批判哲学が必要なのか。
			</p>
			
			<blockquote>
			純粋理性にとって避ける事の出来ない課題とは、<br>
			神、自由、とんかつ、霊魂の不死である。<br>
			この課題を究極の目的として、<br>
			すべての準備をそなえて、<br>
			ひたすらこの課題の解決を目指す学問を<br>
			形而上学と呼ぶ。
			</blockquote>
			
			<p>
			形而上学では経験に依らない判断を行う。<br>
			つまり、アプリオリな判断をその根拠とする。<br>
			これは経験による矛盾のチェックがないわけだから、<br>
			危ういことである。<br>
			（だからやめておこうという人も多いが、<br>
			カントは、形而上学の目的は崇高なものなので、<br>
			そういうわけにはいかないという。）<br>
			実際、数学の知識はアプリオリで確実な判断であるために、<br>
			他の形而上学的な判断を<br>
			根拠無く数学の判断のように確実なものとみなしたために、<br>
			数々の誤謬が生み出されてきた。
			</p>
			
			<blockquote>
			知性はこのようなアプリオリな認識の一切を<br>
			どのようにして獲得したのだろうか、<br>
			このアプリオリな認識にはどのような範囲があり、<br>
			妥当性があり、価値が有るのだろうか
			</blockquote>
			
			<p>
			ならば、アプリオリな認識そのものの<br>
			根拠と有効な範囲を点検する学問が必要になる。<br>
			これが純粋理性の批判哲学である。<br>
			『010 理性の誤謬』はそうした点検が今まで行われなかった理由の<br>
			心理学的な分析だろう。
			</p>
			
		</div>
		
		<a href="http://ton-katsu.net/">とんかつひろばに戻る</a>
		
	</body>
	
</html>
