@tonkatsuRed:#FF2C25;
@tonkatsuPink:#FF47EF;
@tonkatsuOrange:#FF8631;
@tonkatsuYellow:#FFFF26;
@tonkatsuGreen:#00BD10;
@tonkatsuTeal:#1FBCF2;
@tonkatsuBlue:#0023F7;
@tonkatsuPurple:#543099;

@tonkatsuPlain:#F7F4E8;

@tonkatsuBlack:#030303;
@tonkatsuGray:#666666;
@tonkatsuWhite:#fbfbfb;
@tonkatsuCodeBg:#2D3639;
@tonkatsuCodeText:#FF7070;
@tonkatsuCodeTextEm:#00E000;

body{
	font-family: "tbcinergothic-std", "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
	background-color:@tonkatsuBlack;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  ::i-block-chrome, body {
	font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  }
}

h1{
	color:@tonkatsuWhite;
	clear:both;
	font-size:150%;
	border: 10px solid;
	background-color:@tonkatsuPurple;
	text-align:right;
	left:-20%;
	width:100%;
	position:relative;
	border-image:url(../../assets/images/border/stripe_puple.png) 50% repeat;
	transform:rotate(-1deg);
	box-shadow:5px 5px 5px 2px @tonkatsuGray;
	margin-bottom:40px;
}

h2{
	font-size:120%;
}

h3{
	font-size:110%;
}

h4{
	font-size:105%;
}

h5{
	font-size:103%;
}

h6{
	font-size:101%;
}

p{
	margin-top:30px;
	margin-bottom:30px;
}

section{
	background-color:@tonkatsuPlain;
	color:@tonkatsuBlack;
	font-size:120%;
}

pre{
	font-family: "a-otf-ud-reimin-pr6n", "HiraKakuProN-W3", "MS P明朝";
	background-color:@tonkatsuCodeBg;
	color:@tonkatsuCodeText;
	padding:20px;
	overflow-x:auto;
	em {
		color:@tonkatsuCodeTextEm;
	}
}


.disabled{
	pointer-events:none;
}

.invisible{
	display:none;
}

.alignMiddle{
	vertical-align:middle;
}


.detail{
	font-family: "a-otf-ud-reimin-pr6n", "HiraKakuProN-W3", "MS P明朝";
	font-size:90%;
}

.experimental{
	background-color:@tonkatsuGreen;
	color:@tonkatsuWhite;
	
	a:link { color: @tonkatsuWhite; }
	a:visited { color: #724AFF; }
	a:hover { color: #ffff00; }
	a:active { color: #ff8000; }

}

.writing{
	background-color:@tonkatsuYellow;
	color: #0084ff;
	
	a:link { color: #7d00cc; }
	a:visited { color: #ff7e00; }
	a:hover { color: #000cff; }
	a:active { color: #ff3c3c; }

}

.textStream{
	word-break: break-all;
	white-space: pre-line;
	color:@tonkatsuGray;
	overflow:hidden;
}

.list_nobuteru{
}


#main{
	background-color:@tonkatsuBlack;
}

#background{
	background-color:@tonkatsuBlack;
}

#indexContainer {
	display:block;
}


.widget{
	display:block;
	width:auto;
	height:auto;
	margin-left:15%;
	.widget_mainThumb{
		max-width:100%;
		max-height:100%;
	}
}

.widget_title{
	color:@tonkatsuGreen;
	background-color:@tonkatsuPink;
	font-size:large;
}

.widget_categoryIcon{
	position:relative;
	left:-30px;
	top:-30px;
	float:left;
}

.widget_description{
	font-size:120%;
}


#menu{
	display:none;
	overflow-y:auto;
}

#menuCanceler{
	display:block;
	background-color:black;
	cursor:pointer;
	
}

.menuContTitle{
	margin-bottom:2%;
}

.menu_date{
	font-size:92%;
}

.menu_title{
	font-size:112%;
}

.menu_thumb{
	float:left;
	margin-left:2%;
	margin-right:2%;
}

.menu_description{
	font-size:96%;
}

#share{
	display:block;
}


#shareDoc{
	display:block;
	background:yellow;
}

#share_title{
	font-size:140%;
}