@ratio:3 / 16;
@sidebarRatio:100% * @ratio;
@mainRatio:100% - @sidebarRatio;

@ZI_BG:0;
@ZI_MAIN:1;
@ZI_FG:2;
@ZI_MENU_CANCELER:3;
@ZI_MENU:4;
@ZI_SHADOW:5;
@ZI_NAV:6;

.full{
	position:fixed;
	left:0%;
	top:0%;
	width:100%;
	height:100%;
}

.stage{
	position:fixed;
	left:0%;
	top:0%;
	width:100%;
	height:100%;
}

.narrowStage{
	position:fixed;
	left:0%;
	top:0%;
	width:99%;
	height:100%;
}

.disabled{
	pointer-events:none;
}

.navigationLayer{
	position:fixed;
	pointer-events:auto;
	left:0%;
	top:0%;
	width:0%;
	height:0%;
	overflow:visible;
	z-index:@ZI_NAV;
}

#mainDoc{
	overflow-y:scroll;
	z-index:@ZI_MAIN;
}

#indexContainer{
	overflow-y:scroll;
	z-index:@ZI_MAIN;
}

#foreground{
	z-index:@ZI_FG;
}

#background{
	z-index:@ZI_BG;
}

#shadow{
	z-index:@ZI_SHADOW;
}

.popupMenu{
	position:fixed;
	z-index:@ZI_MENU;
}

#menuCanceler{
	position:fixed;
	z-index:@ZI_MENU_CANCELER;
}

