<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"> 

	<head>
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="TONKATSU 記号論 ウォッフォンモッフォン">
		<meta name="description" content="記号論に関するウォッフォンモッフォンの断片">
		
		
		<link rel="index" href="http://ton-katsu.net/">
		
		<link rel="shortcut icon" href="/favicon.ico" />
		
		<title>Fragments -記号論</title>
		
	</head>
	
	<body>
	
		<div id="cont">
			
			中身であるメッセージに対して文体を包装として考える。
			カミュのような中立的な文体は透明な包装である。
			文体とメッセージにずれが生じると、
			文体自体が主張を始める。
			
			が、メッセージもおおむね
			はっきりとした形をそれ自体が持っているわけではない。
			
			背中に刺さったフランスパンを抜き取るための道具のテレビコマーシャル
			
			記号と現実は
			
			現実に裏切られない限り
			記号の記号性に気付くことは少ない。
			
			サイコロを写真に撮ることを考える。
			一枚の写真で
			すべての面を写すことは
			不可能である。
			しかし、どの写真もサイコロについて
			何かしらの事実を伝える。
			日常の言語も同様で、
			対象である事実について、
			何かしらを伝えるし、
			何かしらを伝えない。
			言葉は常に嘘をつくと言われる所以は
			このへんにある。
			一方、数学の記号や化学記号は
			確実に対象を指示する。
			言ってみれば、
			数学の記号や化学記号は
			デッサンの時にパースペクティブが一定になるように
			視点を固定するような具合に
			主観を排している。
			逆に言語や写真の場合は
			必ずカメラをどこかに置かなければならない。
			どんなに無造作に置き場所を決めたとしても、
			選択は選択である。
			(無視点的な言語をが存在する、
			と仮定すると論理学になる。)
			そうなるとそれらの記号を使って表現する際には
			必ずどこにカメラを置くか、どこに視点を定めるか、
			ということが技術的な問題として現れる。
			
		</div>
		
		<a href="http://ton-katsu.net/">とんかつひろばにもどる</a>
		
	</body>
	
</html>
