<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"> 

	<head>
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="JAVA Android 開発">
		<meta name="description" content="">
		
		<link rel="index" href="http://ton-katsu.net/">
		
		<link rel="shortcut icon" href="/favicon.ico" />
		
		<title>とんかつ技術メモ: Adobe Illustrator の基本</title>
		
	</head>
	
	<body>
	
		<div id="cont">	
			
			最近は Adobe Illustrator を
			主にいじっていて、
			色々新しく覚えたこともあるので
			メモ。
			今回は、
			ドキュメントを作る度に
			スウォッチがリセットされるのが
			うざいのを解決する方法。

			<h2>初期設定のスウォッチ及び
			新規ドキュメントの
			プロファイルの変更</h2>
			Illustrator は
			スウォッチを
			ドキュメントごとに保存する。
			そのため、
			自分のよく使う色なんかを集めて
			オリジナルのスウォッチを作って、
			「うむ、いい感じになった。」
			とか言って悦に入っても、		
			新規ドキュメントを作ると
			スウォッチは初期設定に
			リセットされてしまう。
			
			スウォッチ再利用は
			スウォッチパネルの
			左下にある本みたいなアイコン
			→スウォッチを保存
			→適当な名前をつけて保存
			すれば、
			同じく左下の本アイコン
			→ユーザー定義
			で出来るので、
			一応問題はないのだが、
			新規ドキュメントを
			作る度に
			いちいちスウォッチを
			ロードするのは
			馬鹿くさい。
			
			で、そもそもイラレは
			新規ドキュメントを
			どうやって作っているかというと、
			新規ドキュメントプロファイル
			というのを使っている。
			プロファイルというのは
			新規ドキュメントの
			設定ダイアログで選択できる
			「プリント」とか「Web」とかの
			アレである。
			
			再び、		
			スウォッチパネルの
			左下にある本みたいなアイコン
			→スウォッチを保存
			で、保存ダイアログを出したら、
			一つ上のフォルダに移動すると
			そこは Illustrator の
			個人設定フォルダである。
			(Windows の場合は
			<pre>C:\Users\(ユーザー名)\AppData\Roaming\Adobe\Adobe Illustrator 18 Settings\ja_JP\x64</pre><br>
			)そこから 
			"New Document Profiles"
			なるフォルダを開くと
			いくつかの .ai ファイルがある。
			
			これらの .ai ファイルが
			プロファイルの正体である。
			新規ドキュメントの
			ダイアログでプロファイルを選ぶと
			対応した .ai ファイルが複製されて
			それが新規ドキュメントになる。
			つまり、これをいじれば
			新規ドキュメントの状態を
			好きな様に
			カスタマイズできる
			というわけだ。
			当然、スウォッチの初期設定も
			これらのファイルのをいじれば
			変えられる。
			
			ファイルを増やして
			オリジナルのプロファイルを
			勝手に作成しても
			問題なく認識されるので、
			自分用に便利なプロファイルを
			いくつか複製して、
			元のプロファイルは
			そのままにしておくのが
			よろしいかと思う。
			


		</div>
		
		<a href="http://ton-katsu.net/">とんかつひろばにもどる</a>
		
	</body>
	
</html>
