<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"> 

	<head>
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="JAVA Android 開発">
		<meta name="description" content="">
		
		<link rel="index" href="http://ton-katsu.net/">
		
		<link rel="shortcut icon" href="/favicon.ico" />
		
		<title>とんかつ技術メモ: Android アプリプログラミングのアレなんだっけ</title>
		
	</head>
	
	<body>
	
		<div id="cont">			

			※断片的なメモです。
			
			<div id="cont">			
	
				※断片的なメモです。
				
				<h2>layout_weight の設定</h2>
				レイアウトが子の要素を配置するルールについてのメモ。
				まずは、 width, height の値を優先する。
				その上で余った幅があれば、
				子の要素の layout_weight の値に応じて
				余ったスペースを振り分ける。
				layout_weight にはどんな浮動小数点の値を振ってもいい。
				CSS の％指定みたいに、
				割合だけでレイアウトを決めたい時は
				全ての子の要素の width, height を 0dp に設定すると、
				単純に layout_weight の比率でレイアウト幅が決まる。
				
	
			</div>
			
			<div>
				<h2>PackageManager</h2>
				デバイスにインストールされているアプリに関する情報を取得する。
			</div>
			
			<div>
				<h2>Task と Process</h2>
				デバイスの Recent ボタンを押すと<br>
				表示されるリストに<br>
				並んでいる単位が Task と考えてよい。<br>
				例えば、あるアプリAが<br>
				暗黙的インテントで<br>
				カメラアプリBを起動した時、<br>
				B も A が含まれるタスクに含まれる。<br>
				しかし、B の Process は<br>
				独立した B の Process である。<br>
				(フラグ Intent.FLAG_ACTIVITY_NEW_TASK を<br>
				インテントに含めることで、<br>
				独立したスクにすることも出来る。)
			</div>
			
			<div>
				<h2>R.java が自動生成されない時の対処</h2>
				
				<p>
				R.java が生成されていても、<br>
				Android.R と<br>
				読み違えられていることもある。<br>
				とりあえず、エラーログをよく見る。<br>
				以下、過去に上手く言った対処の例。<br>
				</p>
				
				<p>
				1. Eclipse のメニューから<br>
				Project > Clean.
				</p>
				
				<p>
				2. Android SDK Manager を起動して、<br>
				SDK を最新に更新してみる。
				</p>
				
				<p>
				更新は一回では完了しないこともある。<br>
				Android SDK build-tools が<br>
				全て最新になるまで更新する。
				</p>
				
				<p>
				3. サポートライブラリ関係で<br>
				エラーが出ているせいで<br>
				R.java が生成されなくなるがある。<br>
				Build Path を見直す。
				</p>
				
				<p>
				4. ターゲット API 関係で<br>
				エラーが出ている可能性もある。<br>
				プロジェクトのプロパティの<br>
				Android の項から、<br>
				ビルドターゲットを変えてみる。
				</p>
				
			</div>

		</div>
		
		<a href="http://ton-katsu.net/">とんかつひろばにもどる</a>
		
	</body>
	
</html>
