<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"> 

	<head>
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="JAVA Android 開発">
		<meta name="description" content="">
		
		<link rel="index" href="http://ton-katsu.net/">
		
		<link rel="shortcut icon" href="/favicon.ico" />
		
		<title>とんかつ技術メモ: Android/Java の基本</title>
		
	</head>
	
	<body>
	
		<div id="cont">			

			※断片的なメモです。
			
			<h2>layout_weight の設定</h2>
			レイアウトが子の要素を配置するルールについてのメモ。
			まずは、 width, height の値を優先する。
			その上で余った幅があれば、
			子の要素の layout_weight の値に応じて
			余ったスペースを振り分ける。
			layout_weight にはどんな浮動小数点の値を振ってもいい。
			CSS の％指定みたいに、
			割合だけでレイアウトを決めたい時は
			全ての子の要素の width, height を 0dp に設定すると、
			単純に layout_weight の比率でレイアウト幅が決まる。
			

		</div>
		
		<a href="http://ton-katsu.net/">とんかつひろばにもどる</a>
		
	</body>
	
</html>
