<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"> 

	<head>
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="とんかつひろば TONKATSU アプリ カモ JAVA">
		<meta name="description" content="カモアプリのプログラミングに手こずってます。ゲームロジックは単純でハードルの低い開発コンセプトにしたつもりだったんだけど、モバイルデバイスで高画質な画像を動かそうと思ったら、それだけでけっこう敷居が高くて、しばらく研究期間を置かないといけない感じです。">
		
		<link rel="index" href="http://ton-katsu.net/">
		
		<link rel="shortcut icon" href="/favicon.ico" />
		
		<title>とんかつ技術メモ: Android/Java の基本</title>
		
	</head>
	
	<body>
	
		<div id="blog">			

			※断片的なメモです。
			
			<h2>開発難航中</h2>
			
			<p>
				カモアプリのプログラミングに手こずってます。<br>
				ゲームロジックは単純で<br>
				ハードルの低い開発コンセプトにしたつもりだったんだけど、<br>
				モバイルデバイスで高画質な画像を動かそうと思ったら、<br>
				それだけでけっこう敷居が高くて、<br>
				しばらく研究期間を置かないといけない感じです。
			</p>
			
			<p>
				早く出したいところだけど、<br>
				撮影はいい感じにできたので、<br>
				満足が行くまで仕上げたい所でもありますので、<br>
				少し時間をかけますよ。<br>
				作るのが楽しくなくなったら、<br>
				個人開発者としてはおしまいだし、無理はしない。
			</p>
			
			<p>
				<img class="noEdit" src="http://ton-katsu.net/assets/images/common/news/1305/android.jpg" alt="Androidゲームプログラミング A to Z』 Mario Zechner (著), 安生 真 (その他), 株式会社クイープ (翻訳) ">
			</p>
			
			<p>
				ということで、以下 Android/Java 及び Eclipse の基本の個人的な復習メモ。<br>
				こういうメモを手軽にとんかつサイトと RSS に突っ込んでおける仕組みもそのうち作る。
			</p>
			
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- TH_SubMenuAd -->
			<ins class="adsbygoogle"
				 style="display:inline-block;width:300px;height:250px"
				 data-ad-client="ca-pub-6344427005222916"
				 data-ad-slot="8276721688"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>	
				
			<h2>Android SDK と Eclipse</h2>
			
			<p>
				最近は<a href="http://developer.android.com/sdk/index.html">SDK がバンドルされた Eclipse のパック</a><br>
				なんてのが公開されてて、開発環境のセットアップは簡単。<br>
				DL して解凍して適当なディレクトリに置くだけ。
			</p>
			
			<p>
				ただし SDK Manager でのパッケージのインストールには<br>
				少し罠がある。<br>
				インストールしたいパッケージにチェックを入れて、<br>
				インストールボタンを押すだけなので、便利なのだけど、<br>
				一度インストールボタンを押しただけでは<br>
				うまくインストールされてないことがわりとある。
			</p>
			
			<p>
				特に Android 4.2.2(API 17) をインストールするときは<br>
				一度 Android 4.2.2(API 17) をインストールした後に<br>
				Android SDK Build-Tools もインストールしないと<br>
				gen ディレクトリ内の R クラスがビルドされなくなるので要注意。<br>
				なんというか、ちょっとしつこめにインストールするのがコツである。
			</p>
			
			<h2>Eclipse の設定</h2>
			
			<p>
				Eclipse はやたらと重い。<br>
				設定の見直しが必須。<br>
				<br>
				Eclipse初心者がAndroid開発する際に押さえるべきこと<br>
				<a href="http://blog.livedoor.jp/techblog/archives/65399350.html">http://blog.livedoor.jp/techblog/archives/65399350.html</a><br>
				<br>
				ここの記事が改善に役立った。
			</p>
			
			<h2>Eclipse の独特の概念とか</h2>
				
				<h3>ワークベンチ</h3>
				
				<p>
					画面全体のこと。<br>
					名前が付いている意味がよく分からない。
				</p>
				
				<h3>パースペクティブ</h3>
				
				<p>
					ウィンドウのレイアウトのセットのこと。<br>
					Adobe ツールでいうところのワークスペースと同じ。
				</p>
			
				<h3>ワークスペース</h3>
				
				<p>
					作業用フォルダ。
				</p>
				
				<p>
					これがどういう扱いなのか最初よくわからなかった。<br>
					アプリごとにワークスペース変えたほうがいいの？ とか、<br>
					ワークスペース内に開発するプロジェクト全部入れたほうがいいのか？<br>
					とか、色々試してしまった。
				</p>
				
				<p>
					ポイントはワークスペース毎に設定を保存できる、<br>
					というところかと思う。<br>
					ワークスペースは基本固定でよい。<br>
					プロジェクトによっては違った設定を使いたいことがあるかもしれないので、<br>
					そのときにはワークスペースを変えればよい。
				</p>
				
				<p>
					プロジェクトの置き場所はワークスペースの中でなくてもよさそう。<br>
					ワークスペースの外にある既存のプロジェクトを開くには、<br>
					File -> New -> Other -> Android -> Android Project from Existing Code<br>
					で OK.
				</p>
			
			<h2>Eclipse のショートカット</h2>
			
			<p>
				Ctrl + Shift + O で import 文の整理、は感動的に便利だ。<br>
				たまに違ったものを挿入してくれたりするが。<br>
				特に自動生成される R クラスの代わりに Android.R がインポートされて<br>
				コードが真っ赤になったアンドロイダーは数多いようである。<br>
				ショートカットでは ctrl + D, alt + 矢印,<br>
				ctrl + alt + 矢印あたりもよく使う。
			</p>
						
			<h2>完全に静的な型指定</h2>
			
			<p>
				Java では変数は必ず型指定する。<br>
				面倒だしやたらとコードが長くなるが、<br>
				コンパイルエラーのチェックやコード補完が確実に動作したり、<br>
				色んなことを Eclipse が勝手にやってくれるので便利。
			</p>
			
			<h2>変数の初期化</h2>
			
			<p>
				クラスのメンバ変数は作成時に自動的に初期化される。<br>
				しかし、ローカル変数は必ず初期化しないといけない。
			</p>
			
			<h2>コンストラクタに関すること</h2>
			
			<p>
				コンストラクタは必ず返り値なしである。<br>
				新しいオブジェクトは基本 new を使って作成する。<br>
				JavaScript のコンストラクタのようなややこしいことはない。
			</p>
			
			<p>
				コンストラクタの宣言を省略すると<br>
				デフォルトコンストラクタが自動で作成される。<br>
				デフォルトコンストラクタは引数をとらず、<br>
				コードブロックにはスーパークラスのコンストラクタの呼び出しのみを含む。
			</p>
			
			<p>
				とりあえず今日はここまで。
			</p>
			
			<p>
				Java のコーディング作業は全体的に楽しくない傾向はあるが、<br>
				固い OOP を本気でやったらこうなる、<br>
				というのが体験できて勉強にはなる。
			</p>
			
			<p>
			(2013年 5月 山田.F.とんかつ)
			</p>
			

		</div>
		
		<a href="http://ton-katsu.net/">とんかつひろばにもどる</a>
		
	</body>
	
</html>
