<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"> 

	<head>
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="JavaScript Canvas とんかつメモ">
		<meta name="description" content="JavaScript Canvas の width と heght の指定に関するメモ">
		
		<link rel="index" href="http://ton-katsu.net/">
		
		<link rel="shortcut icon" href="/favicon.ico" />
		
		<title>とんかつメモ:JavaScript Canvas</title>
		
	</head>
	
	<body>
	
		<div id="cont">			

			※断片的なメモです。<br>
			<br>
			<h2>とんかつメモ:JavaScript Canvas</h2>
			
			<p>
				JavaScript Canvas の<br>
				width と heght の指定に関するメモ。<br>
				Canvas 要素との width/height プロパティと<br>
				CSS で設定できる width/height プロパティは<br>
				意味が違うので注意。<br>
				CSS での指定は、<br>
				Canvas の画素数を変えずに<br>
				要素の大きさを変える。<br>
				これはたいてい良くない結果をもたらすので、<br>
				基本 Canvas 要素の width/height プロパティを使う。<br>
				また、Canvas 要素の width/height プロパティは<br>
				値として整数値のみを受け付ける。<br>
				'px' などの単位を付ける必要はない。<br>
				width/height を指定しなかった場合、<br>
				300*150 の Canvas になる。
			</p>
			

		</div>
		
		<a href="http://ton-katsu.net/">とんかつひろばにもどる</a>
		
	</body>
	
</html>
