<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"> 

	<head>
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="Nexus5 Android5 不具合 Skype Kindle">
		<meta name="description" content="">
		
		<link rel="index" href="http://ton-katsu.net/">
		
		<link rel="shortcut icon" href="/favicon.ico" />
		
		<title>とんかつメモ:Android 5 へのアップデートに伴う Skype と Kindle の不具合への対処</title>
		
	</head>
	
	<body>
	
		<div id="cont">			

			※断片的なメモです。<br>
			<br>
			<h2>とんかつメモ:Android 5 へのアップデートに伴う Skype と Kindle の不具合への対処</h2>
			Nexus 5 を Android 5 にアップデートしたら、<br>
			下記のアプリに不具合が発生した。<br>
			<br>
			Skype:オンライン状態にならない<br>
			Kindle for Android:強調や斜体のフォントが表示されない<br>
			<br>
			それぞれ<br>
			設定>アプリ>アンインストール<br>
			の後、GooglePlay から<br>
			アプリを再インストールしたら治った。
			
			<script type="text/javascript" src="http://rot8.a8.net/jsa/7daca679c5c74b9bcd697af3c7e3bb63/c6f057b86584942e415435ffb1fa93d4.js"></script>
			

		</div>
		
		<a href="http://ton-katsu.net/">とんかつひろばにもどる</a>
		
	</body>
	
</html>
